{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <form method="POST">
                    <div class="input-group my-3">
                        <label for="ShortURL" class="col-sm-2 col-form-label">Short URL</label>
                        <div class="input-group-text">{{ request.host_url }}</div>
                        <input type="text" class="form-control {% if form.errors.get("name") %}is-invalid{% endif %}"
                               id="ShortURL" name="name"
                               value="{{ url.name }}">
                        <div id="ShortURLFeedback" class="invalid-feedback">
                            {{ form.errors.get("name", [])|join(", ") }}
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="TargetURL" class="col-sm-2 col-form-label">Target URL</label>
                        <input type="text" class="form-control" id="TargetURL" name="url_to"
                               value="{{ url.url_to }}">
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="UseJS" name="use_js"
                               {% if url.use_js %}checked{% endif %}>
                        <label class="form-check-label" for="UseJS">Use JS Redirect</label>
                    </div>
                    {{ form.csrf_token }}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>

        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Time</th>
                <th>IP</th>
                <th>Country</th>
                <th>Device</th>
                <th>Raw Data</th>
            </tr>
            </thead>
            <tbody>
            {% for click in clicks %}
                <tr>
                    <td>
                        <div>
                            {{ click.datetime.strftime("%Y-%m-%d") }}<br>
                            <small>{{ click.datetime.strftime("%H:%M:%S") }}</small>
                        </div>
                    </td>
                    <td>{{ click.ip_address }}</td>
                    <td>{{ click.raw_data.get("ip_info", {}).get("country_name", "Not Found") }}</td>
                    <td>{{ click.raw_data.get("browser_info", {}).get("user_agent", {}).get("family", "Not Found") }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#RawDataModal{{ click.uuid }}">
                            RAW DATA
                        </button>
                    </td>
                    <div class="modal fade" id="RawDataModal{{ click.uuid }}" tabindex="-1"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Raw Data</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <code>
                                        <pre>{{ click.raw_data|tojson_pretty }}</pre>
                                    </code>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}